body{
    margin: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
}

header h1{
    font-size: 60px;
    background-color: #0086c3;
    text-align: center;
    margin: 0px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #29b6f6;
  }
  
nav li {
    float: left;
    color: white;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
nav li a:hover {
    background-color: #73e8ff;
  }

section{
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}

section h2{
    font-size: 30px;
}

section table{
    margin: 10px;
}

footer{
    background-color: #29b6f6;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}